@model LoginModel


@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}


<!-- JavaScript -->
<script src="/js/maskcnpj_cpf.js" defer></script>
<script src="/js/RetiraMascaraCpfCnpj.js" defer></script>

<!-- css -->
<link rel="stylesheet" href="/css/style.css">





@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}



@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}



<body>
    <div class="container col-11 col-md-9" id="form-container">
        <div class="row align-items-center gx-5">
            <div class="col-md-6 order-md-2">
                <h2>Faça o login</h2>
                <form form asp-controller="Login" asp-action="Logar" method="post">
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Login" type="text" class="form-control" id="cpf_cnpj" required
                               placeholder="Digite o seu CPF ou CNPJ" onkeypress='mascaraMutuario(this,cpfCnpj)' onblur="removePontos(this)" maxlength="18">
                        <label for="login" class="form-label">Digite o CPF ou CNPJ</label>
                        @Html.ValidationMessageFor(x => x.Login)
                    </div>


          

                    <div class="form-floating mb-3">
                        <input asp-for="Senha" type="password" class="form-control" id="senha" placeholder="Digite a Senha">
                        <label for="senha" class="form-label">Senha</label>
                        @Html.ValidationMessageFor(x => x.Senha)
                    </div>


                    <button type="submit" class="btn btn-primary">Entrar</button>



                                      
                    <div class="col-10 link-registrar">
                        <p>Novo Cliente? <a asp-controller="Login" asp-action="NovoUsuario" class="text-primary text-gradient font-weight-bold">Clique Aqui</a></p>
                    </div>

                    <div class="col-10 link-registrar">
                        <p>É Cliente, mas não tem acesso? <a asp-controller="Login" asp-action="ClienteDomus" class="text-primary text-gradient font-weight-bold">Clique Aqui</a></p>
                    </div>

                    <div class="col-10 link-registrar">
                        <p>Esqueceu a senha? <a asp-controller="Login" asp-action="RedefinirSenha" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a></p>
                    </div>


                </form>


            </div>

            <div class="col-md-6 order-md-1">
                <div class="col-12">
                    <img src="/lib/sign_in.svg" alt="Logar no sistema " class="img-fluid">
                </div>

            </div>


        </div>
    </div>


</body>








