@{
    ViewData["Title"] = "Politica de Privacidade";
}
<!-- css -->
<link rel="stylesheet" href="/css/style.css">


<body>

    <div class="container col-11 col-md-9" id="form-container">
        <div class="row align-items-center gx-5">
            <div class="col-md-12 order-md-2">

                <h2>
                   Titulo
                </h2>


                <div>


                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, tempor convallis nisi. 
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin leo magna, tristique efficitur
                        metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. Sed id pulvinar quam, ut eleifend libero. 
                        Vestibulum ut vestibulum diam, non tincidunt odio. Etiam mi turpis, eleifend ac sem a, elementum imperdiet dui. Integer eget 
                        odio vitae metus dictum varius nec et nunc. Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit 
                        amet. Praesent non sapien id nibh condimentum pulvinar. Cras vulputate, mauris at sodales ultrices, velit risus sollicitudin 
                        nibh, a congue risus leo nec libero. Nulla a est blandit, 
                        fringilla dolor id, elementum dui. Donec sed arcu eros. Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.
                    </p>




                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, 
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                        mus. Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique 
                        molestie ornare. Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. 
                        Etiam mi turpis, eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. 
                        Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. Praesent non sapien id nibh 
                        condimentum pulvinar. Cras vulputate, mauris at sodales ultrices, velit risus sollicitudin nibh, a congue risus leo nec libero. 
                        Nulla a est blandit, fringilla dolor id, elementum dui. 
                        Donec sed arcu eros. Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.

                    </p>



                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, 
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. 
                        Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. Etiam mi turpis, 
                        eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. Quisque id ligula dolor. 
                        Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. Praesent non sapien id nibh condimentum pulvinar. Cras vulputate, 
                        mauris at sodales ultrices, velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, fringilla dolor id, 
                        elementum dui. Donec sed arcu eros.
                        Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.
                    </p>


                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, 
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. 
                        Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. Etiam mi turpis, 
                        eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. 
                        Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. Praesent non sapien id nibh condimentum pulvinar. 
                        Cras vulputate, mauris at sodales ultrices, velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, 
                        fringilla dolor id, elementum dui. Donec sed arcu eros. 
                        Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.
                    </p>


                </div>


                <h2>Lei Geral</h2>


                <div>

                    <h4>O que é ?</h4>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel,
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. 
                        Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. Etiam mi turpis, 
                        eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. 
                        Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. Praesent non sapien id nibh condimentum pulvinar. 
                        Cras vulputate, mauris at sodales ultrices, velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, 
                        fringilla dolor id, elementum dui. Donec sed arcu eros. 
                        Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.
                    </p>


                    <h4>Tratamento </h4>


                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, tempor convallis nisi. 
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin leo magna, tristique efficitur 
                        metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. Sed id pulvinar quam, ut eleifend libero. 
                        Vestibulum ut vestibulum diam, non tincidunt odio. Etiam mi turpis, eleifend ac sem a, elementum imperdiet dui. 
                        Integer eget odio vitae metus dictum varius nec et nunc. Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui 
                        egestas sit amet. Praesent non sapien id nibh condimentum pulvinar. Cras vulputate, mauris at sodales ultrices, 
                        velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, 
                        fringilla dolor id, elementum dui. Donec sed arcu eros. Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.
                    </p>




                    <h4>Categoria de Dados</h4>

                    <p>

                        <strong>Dados Pessoais:</strong>

                        qualquer informação que possibilite a identificação, mesmo que de maneira indireta, de uma pessoa
                        (exs.: nome, RG, CPF, etc.).


                    </p>



                    <p>

                        <strong>Dados Pessoais Sensiveis:</strong>

                        Os dados pessoais sensíveis tratam de informações de caráter mais íntimo das pessoas. A LGPD traz um rol
                        taxativo de dados que possuem particularidades específicas, quais sejam: 1) Origem racial ou étnica; 2)
                        Convicção religiosa; 3) Opinião política; 4) Filiação ao sindicato ou à organização de caráter religioso,
                        filosófico ou político; 5) Dado referente à saúde ou à vida sexual; 7) Dado genético ou biométrico.

                    </p>


                    <p>

                        <strong>Dados</strong>


                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, 
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. 
                        Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. 
                        Etiam mi turpis, eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. 
                        Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. 
                        Praesent non sapien id nibh condimentum pulvinar. Cras vulputate, mauris at sodales ultrices, 
                        velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, fringilla dolor id,
                        elementum dui. Donec sed arcu eros. Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.

                    </p>


                    <p>

                        <strong>Direitos</strong>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus dolor, ultricies eu lectus vel, 
                        tempor convallis nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Proin leo magna, tristique efficitur metus quis, volutpat dapibus lectus. Pellentesque tristique molestie ornare. 
                        Sed id pulvinar quam, ut eleifend libero. Vestibulum ut vestibulum diam, non tincidunt odio. 
                        Etiam mi turpis, eleifend ac sem a, elementum imperdiet dui. Integer eget odio vitae metus dictum varius nec et nunc. 
                        Quisque id ligula dolor. Nullam suscipit ligula dolor, et aliquet dui egestas sit amet. 
                        Praesent non sapien id nibh condimentum pulvinar. Cras vulputate, mauris at sodales ultrices, 
                        velit risus sollicitudin nibh, a congue risus leo nec libero. Nulla a est blandit, fringilla dolor id, 
                        elementum dui. Donec sed arcu eros. 
                        Sed pellentesque est quis sem eleifend, a porttitor libero rutrum.


                    </p>



                    <p>

                        Suspendisse pharetra arcu vitae erat lacinia venenatis. Phasellus in odio at nulla tincidunt sollicitudin. 
                        Cras enim nunc, vulputate in purus consequat, varius tristique ligula. Cras cursus dolor sit amet dui vehicula 
                        iaculis. Integer mollis urna ut auctor tincidunt. Aliquam sit amet ex eu eros suscipit rhoncus in a velit. In scelerisque lacinia libero, 
                        id commodo nisl pretium at. Quisque sed pellentesque sem, vel ultrices enim.

                    </p>




                    <p>
                        Suspendisse pharetra arcu vitae erat lacinia venenatis. Phasellus in odio at nulla tincidunt sollicitudin. 
                        Cras enim nunc, vulputate in purus consequat, varius tristique ligula. Cras cursus dolor sit amet dui vehicula iaculis. 
                        Integer mollis urna ut auctor tincidunt. Aliquam sit amet ex eu eros suscipit rhoncus in a velit. 
                        In scelerisque lacinia libero, id commodo nisl pretium at. Quisque sed pellentesque sem, vel ultrices enim.
                    </p>


                    <p>

                        Suspendisse pharetra arcu vitae erat lacinia venenatis. Phasellus in odio at nulla tincidunt sollicitudin. 
                        Cras enim nunc, vulputate in purus consequat, varius tristique ligula. 
                        Cras cursus dolor sit amet dui vehicula iaculis. Integer mollis urna ut auctor tincidunt. 
                        Aliquam sit amet ex eu eros suscipit rhoncus in a velit. In scelerisque
                        lacinia libero, id commodo nisl pretium at. Quisque sed pellentesque sem, vel ultrices enim.

                    </p>




                </div>

                               


            </div>


        </div>
    </div>
</body>
